/*GENERAL*/
html{
  width:100%;
  overflow-x: hidden;
}
body{
  width:100%;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}


.btn{
  border-radius: 0;
}

.roboto{
  font-family:  sans-serif;
  font-weight: bold;
}

.no-club{
  font-size: 3em;
}

/*NAVBAR*/
#logo{
  font-size: 1.5em;
  font-weight: semi-bold;
  color:#0892d0;
}

.fa-bolt{
  color:#fec901;
  transform: rotate(20deg);
}

nav .nav-link{
  font-size: 1.2em;
}

.navbar-links{
  color:#DDD!important;
}

.navbar-links:hover{
  color:#0892d0!important;
  background-color: transparent;
}

.navbar-dropdown-menu{
  background-color: transparent;
  border:none;
}

.navbar-dropdown-menu:hover{
  background-color: transparent;
}

/*HOME-PAGE*/
.gym-img{
  -webkit-filter: brightness(70%);
}


/*BANNER*/

.banner-txt{
  color: white;
  position: absolute;
  top:30%;
  left:10%;
}

.banner-txt h1{
  font-weight: 600;
  font-size: 5em;
  margin: 0.3em 0 ;
}

.banner-txt p{
  font-size: 1.1em;
}

.banner-txt a{
  margin-right: 0.5em;
  font-size: 1.1em;
}

/*CLUBS MAIN*/
#clubs-title{
  margin-top:-20px;
}

.clubs-div{
  background-color: #EEE;
  padding: 15px 15px;
  margin: 20px;
  box-shadow: 5px 5px 10px #AAA;
}

.clubs-link{
  font-size: 1.3em;
}

/*LOG*/

.log-div{
  height:100vh;
  padding:50px 0 50px 0;
}

/*FOOTER*/
footer{
  color: #6c757d;
  background-color: black;
  width:100%;
  font-size: small;
}

footer .about {
  margin:0;
}

footer a{
  color: #6c757d;
}

/*COMMENTS*/

.italic{
  font-size: 0.8em;
  font-style: italic;
}

.hidden{
  display:none;
}

.visible{
  display: block;
}






