/*GENERAL*/
html{
  width:100%;
  min-height: 100vh;
  overflow-x: hidden;
}
body{
  width:100%;
  min-height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}


.btn{
  border-radius: 0;
}

.roboto{
  font-family:  sans-serif;
  font-weight: bold;
}

.no-club{
  font-size: 3em;
}

/*NAVBAR*/
#logo{
  font-size: 1.5em;
  font-weight: semi-bold;
  color:#0892d0;
}

@media (max-width: 575px){
  #logo{
    font-size: 2em;
  }

}

.fa-bolt{
  color:#fec901;
  transform: rotate(20deg);
}

@media (max-width: 575px){
  .navbar-links, .dropdown-toggle{
    padding-left:10px !important;
    background-color: rgba(0, 0, 0, 0.9);
  }
}


nav .nav-link{
  font-size: 1.2em;
}

.navbar-links{
  color:#DDD!important;
}

.navbar-links:hover{
  color:#0892d0!important;
  background-color: transparent;
}

.navbar-dropdown-menu{
  background-color: transparent;
  border:none;
}

.navbar-dropdown-menu:hover{
  background-color: transparent;
}

/*BANNER*/

.banner{
  padding: 0;
}


.div-img{
  padding: 0;
}

.gym-img{
  -webkit-filter: brightness(70%);
}

@media(max-width: 1080px){
  .div-img{
    height:100vh;
  }
  .gym-img{
    min-width:160% ;
    min-height:100% ;
  }
  
}

@media(min-width: 1080px){
  .div-img{
    height:100vh;
  }
  .gym-img{
    min-width:100% ;
    min-height:100% ;
  }
}


.banner-txt{
  color: white;
  position: absolute;
  top:30%;
  left:10%;
}

.banner-txt h1{
  font-weight: 600;
  font-size: 5em;
  margin: 0.3em 0 ;
}

.banner-txt p{
  font-size: 1.1em;
}

.banner-txt a{
  margin-right: 0.5em;
  font-size: 1.1em;
}

@media (min-width: 1600px) {
  .banner-txt {
    left:20%;
  }
}

@media (max-width: 500px) {

  .banner-txt{
    left:0;
    text-align: center;
    padding: 0;
  }

  .banner-txt h1{
    padding: 0.5em 0;
    font-size: 4em;
  }
  
  .banner-txt p{
    font-size: 1em;
  }
  
  .banner-txt a{
    margin-right: 0;
    font-size: 1em;
  }
  
}

@media (max-width: 400px) {

  .banner-txt h1{
    font-size: 3em;
  }
  
}

/*CLUBS MAIN*/

.clubs-div{
  background-color: #EEE;
  padding: 15px 15px;
  margin: 20px;
  box-shadow: 5px 5px 10px #AAA;
}

.club-name{
  font-size: 2em;
}

@media (max-width: 768px){
  .club-info{
    margin-left:20px;
  }

  .club-name{
    font-size: 1.5em;
  }
  
}

@media (max-width: 550px){
  .search-bar{
    display:flex;
    flex-direction: column;
    line-height: 40px;
  }
}

/*FORM*/
.agreement{
  transform: scale(2);
}

.error-message{
  font-size:0.5em;
}

.danger{
  color:#DC3545;
  font-weight: bold;
}

/*LOG*/

.log-div{
  height:100vh;
  padding:50px 0 50px 0;
}

/*FOOTER*/
footer{
  color: #6c757d;
  background-color: black;
  width:100%;
  font-size: small;
}

footer .about {
  margin:0;
}

footer a{
  color: #6c757d;
}

@media (max-width: 1024px){
  .info{
    line-height: 12px;
    margin-top:30px;
  }

}

/*COMMENTS*/

.italic{
  font-size: 0.8em;
  font-style: italic;
}

.hidden{
  display:none;
}

.visible{
  display: block;
}








